.events {
    // background-color: aqua;
    display: flex;
    gap: 3rem;
    padding: 1rem;
    align-items: center;
    // justify-content: center;
}

.card {
    position: relative;
    background-color: white;
    border-radius: 1.5rem;
    border: 0.2rem solid black;
    width: 35rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
        // color: black;
        // border-radius: 1.5rem 1.5rem 0 0;
        // border-bottom: 0.2rem solid black;
        // text-align: start;
        // width: 100%;
        // padding: 1rem 1.6rem;
        // font-size: 2rem;
        --background: var(--orange);


        &.green {
            --background: var(--green);
        }

        &.blue {
            --background: var(--blue);
        }

        &.purple {
            --background: var(--purple);
        }

        &.red {
            --background: var(--red);
        }

        // &.orange {
        //     --background: var(--orange);
        // }

        background-color: var(--background);

        color: black;
        border-radius: 1.5rem 1.5rem 0 0;
        border-bottom: 0.2rem solid black;
        text-align: start;
        width: 100%;
        padding: 1rem 1.6rem;
        font-size: 2rem;

    }

    .img {
        width: 100%;

    }

    .description {
        padding: 1.6rem 2.4rem;

        justify-content: center;
        align-items: center;

        .text {
            font-family: inherit;
            font-size: 1.6rem;
        }
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 11px 12px 11px 24px;
        // background-color: aqua;


        .btn {
            display: flex;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 10px;
            border: 2px solid #000;

            cursor: pointer;
            transition: 0.4s;

            &:hover {
                // transform: translate(10rem 0.4rem);
                transform: translate(0.4rem, 0.4rem);
                // transform: translateY(0.4rem);
            }
        }

    }
}