@import url('./variables.less');


// SCREEN OVERLAY
.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}




/* LAYOUT GRID */
.layout-grid {
    .screen-overlay();

    display: flex;
    gap: var(--grid-gutter);
    padding: 0 var(--grid-padding);

    pointer-events: none;



    &.hidden .grid-column {
        display: none;
    }


    .grid-column {
        width: 100%;
    }
}


.grid-btn {
    position: fixed;
    bottom: 3.2rem;
    right: 6.4rem;

    opacity: 0;

    z-index: 100;

    &:hover {
        opacity: 1;
    }
}



// HEADER
.header {
    display: flex;
    justify-content: center;
    padding: 1.2rem;

    .navbar {
        display: inline-flex;
        align-items: center;
        margin: 0 auto;
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
        border: solid 0.2rem black;
        gap: 1.2rem;

        .nav-link {
            font-family: @font-secondary;
            color: black;
            text-decoration: none;
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.6rem 1.2rem;

            &.active {
                background-color: var(--purple);
                border-radius: 0.5rem;
            }
        }
    }
}



// DUPLICATE BOX
.duplicate-box {
    position: relative;
    z-index: 1;
    
    .clone {
        & > * > * {
            opacity: 0;
        }

        position: absolute;
        width: 100%;
        top: 0.4rem;
        left: 0.4rem;
        z-index: -1;

        ::-webkit-scrollbar {
            display: none;
        }
    }
}



// FRIEND
.friend {
    --background: var(--pink);
    &.green { --background: var(--green); }
    &.blue { --background: var(--blue); }
    &.purple { --background: var(--purple); }
    &.red { --background: var(--red); }
    &.orange { --background: var(--orange); }

    display: flex;
    justify-content: space-between;
    gap: 1.6rem;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--background);
    padding: 1.6rem;
    border-radius: 1.2rem;
    border: solid 0.2rem black;
    box-shadow: 0.4rem 0.4rem 0 black;
    width: 100%;
    // overflow: hidden;

    .user-info {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        width: 100%;
        // flex-shrink: 1;
        // background-color: aqua;
        min-width: 0;

        .username {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .pfp {
            width: 5.2rem;
            height: 5.2rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: center center;
            border: solid 0.2rem black;
        }
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: white;
        border-radius: 1.2rem;
        border: solid 0.2rem black;
        box-shadow: 0.2rem 0.2rem 0 black;
        cursor: pointer;

        .icon {
            width: 2rem;
            height: 2rem;
        }
    }
}