.events-date {
    display: flex;
    flex-direction: column;
    align-items: start;
    // background-color: rgb(38, 229, 226);
    padding-left: 3rem;

    .events-bar {
        display: flex;
        gap: 1rem;
        padding: 2rem 0.5rem 2rem 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        // background-color: aquamarine;

        .arrow-icon {
            width: 4.5rem;
            height: 4.5rem;
        }

        .events-list {
            display: flex;
            gap: 3rem;
            padding: 1rem;
            align-items: center;
        }
    }
}