@import url('../../globalStyling/variables.less');

.calendar-section {
    padding: 0 3.2rem;
    width: 100%;
    // background-color: aqua;
    display: grid;
    grid-template-columns: 75fr 25fr;
    gap: 3.2rem;
    align-items: start;
    min-width: 0;
    min-height: 0;

    .friends-column {
        // overflow-y: auto;
        // overflow-x: visible;
        padding-top: 15rem;
        // width: 100%;
        // background-color: aqua;
        min-width: 0;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        .input-container {
            width: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            border-radius: 1.2rem;
            border: solid 0.2rem black;
            // box-shadow: 0.6rem 0.6rem 0 black;
            padding: 1rem;

            .icon {
                width: 2.4rem;
                height: 2.4rem;
            }

            input {
                font-family: inherit;
                border: none;
                background-color: transparent;
                font-size: 1.6rem;
            }
        }

        .friends-list {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            overflow-y: auto;
            padding-right: 0.4rem;
            padding-bottom: 0.4rem;
            // width: 100%;

            .friend {
                cursor: pointer;
                transition: .2s;

                &:hover,
                &.selected {
                    box-shadow: none;
                    transform: translate(0.4rem, 0.4rem);
                }
            }

            .empty {
                // text-align: center;
                padding-left: 1.6rem;
            }
        }
    }

    .section-day {
        padding-top: 15rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        // max-height: 116vh;
        overflow: hidden;

        .day-info-container {
            background-color: white;
            border-radius: 2rem;
            border: solid 0.2rem black;
            box-shadow: 0.4rem 0.4rem 0 black;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            height: 100%;
            padding-bottom: 1.6rem;
            // max-height: 116vh;

            .title-box {
                background-color: var(--purple);
                border-bottom: solid 0.2rem black;
                padding: 0.4rem 1.6rem;


                display: flex;
                align-items: center;

                .icon {
                    width: 2.4rem;
                    height: 2.4rem;
                    cursor: pointer;
                }

                .title {
                    text-align: center;
                    flex-grow: 1;
                }
            }

            .info-box {
                padding: 0.4rem 1.6rem;
                flex-grow: 1;
                overflow: auto;

                .btn {
                    background-color: var(--green);
                    font-family: inherit;
                    font-size: 1.6rem;
                    border: solid 0.2rem black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1rem;
                    padding: 1.2rem;
                    width: 100%;
                    margin-bottom: 3.2rem;
                    cursor: pointer;
                    transition: 0.4s;

                    &:hover {
                        // transform: translate(10rem 0.4rem);
                        transform: translate(0.4rem, 0.4rem);
                        // transform: translateY(0.4rem);
                    }
                }

                .title {
                    font-family: @font-secondary;
                    font-size: 2.4rem;
                }

                .holidays-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    padding-bottom: 1.6rem;
                    margin-bottom: 1.6rem;
                    border-bottom: solid 0.1rem black;
                }

                .events-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;

                    .event {
                        .title {
                            font-size: 1.8rem;
                            font-family: @font-primary;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .details {
                            font-style: italic;
                            font-size: 1.4rem;
                            text-decoration: none;
                            color: var(--purple-shade-5);
                        }
                    }
                }
            }
        }
    }
}

.events-section {
    border-top: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;


}