.calendar-section {
    padding: 0 3.2rem;
    width: 100%;
    // background-color: aqua;
    display: grid;
    grid-template-columns: 75fr 25fr;
    gap: 3.2rem;
    align-items: start;
    min-width: 0;
    min-height: 0;

    .friends-column {
        // overflow-y: auto;
        // overflow-x: visible;
        padding-top: 15rem;
        // width: 100%;
        // background-color: aqua;
        min-width: 0;

        .input-container {
            width: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            gap: 1.2rem;
            border-radius: 1.2rem;
            border: solid 0.2rem black;
            // box-shadow: 0.6rem 0.6rem 0 black;
            padding: 1rem;
            margin-bottom: 3.2rem;

            .icon {
                width: 2.4rem;
                height: 2.4rem;
            }

            input {
                font-family: inherit;
                border: none;
                background-color: transparent;
                font-size: 1.6rem;
            }
        }

        .friends-list {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            // width: 100%;
        }
    }
}

.events-section {
    border-top: 0.2rem solid black;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;


}